/*
======================================================================
Project Name    : LP Util
File Name       : base.css
Encoding        : UTF-8
Creation Date   : 2024/06/12
History         :
2024/06/17  ADD video ring
2024/06/17  MOD form-control, auto size
2024/06/18  MOD body custom property
2024/06/26  ADD video button
2024/10/10  ADD video cursor
2024/10/10  ADD form type1
2024/10/10  ADD follow type1
2024/10/10  ADD modal type1
2024/10/24  ADD progress type1

Copyright 2024 office-ing All rights reserved.
 
This source code or any portion thereof must not be  
reproduced or used in any manner whatsoever.
======================================================================
*/
@charset "utf-8";

/* ==========================================
 Base
============================================*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family, var(--font-gothic));
  font-size: 100%;
  font-weight: var(--font-weight, 500);
  line-height: 1.8;
  color: var(--color-text, var(--bs-body-color));
  background-color: var(--color-bg, var(--bs-body-bg));
  width: 100%;
  height: 100%;
  word-break: break-all;
  overflow-x: hidden;
  visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin-bottom: 0;
  font-weight: bold;
}

/* container */
:root {
  --container-width: 750;
  --min_w1: 375;
  --max_w1: 750;
}

.container {
  max-width: calc(1px * var(--container-width));
  box-shadow: 0 3px 5px 3px var(--color-container-shadow, #d9e5ed);
  --bs-gutter-x: 0;
  position: relative;
}

/* font family */
:root {
  --font-default: "Hiragino Kaku Gothic Pro", "meiryo", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  --font-serif: "Noto Serif JP", serif;
  --font-gothic: "Noto Sans JP", sans-serif;
}

/* p margin */
:root {
  --mb-p: 2em;
}

/* maker */
.mark,
mark {
  padding: 0;
  background-image: var(--bg-mark, linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, var(--color-mark, --color-yellow) 70%));
  background-color: transparent;
  color: inherit;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.mark-full {
  background-color: var(--color-mark, --color-yellow);
}

/* image */
.img-wrap {
  position: relative;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

/* auto size */
[style*="--w"] {
  width: calc(100% * var(--w) / var(--container-width));
  margin-left: auto;
  margin-right: auto;
}

picture {
  display: block;
}

a img,
button img {
  transition: 0.3s;
}

a:hover img,
button:hover img {
  filter: brightness(1.2);
}

/* paragraph */
:where(main) p {
  margin-bottom: var(--mb-p, 2em);
}

/* spacer */
hr {
  margin: 2em 0;
  border: none;
  opacity: 1;
}

/* underline */
u {
  text-underline-offset: 0.3em;
}

/* list */
ul,
ol {
  margin: 0 0 var(--mb-p, 2em);
  padding: 0;
  list-style: none;
}

/* button */
.btn {
  position: relative;
  transition: 0.3s;
  border: 0;
  padding: 0;
}

.btn:focus {
  box-shadow: none;
}

.btn.disabled {
  pointer-events: none;
  filter: grayscale(1);
  animation: none;
}

.btn-round {
  border-radius: 100vh;
}

/* form */
.form-control {
  color: var(--color-form-control-text);
  background-color: var(--color-form-control-bg);
  border-color: var(--color-form-control-border);
}

.form-control::placeholder {
  color: var(--color-placeholder);
}

/* shadow */
.white-shadow {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1), 0px 0px 10px rgba(255, 255, 255, 1), 0px 0px 10px rgba(255, 255, 255, 1);
}

/* ==========================================
 Layer
============================================*/
.layer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* ==========================================
 Video
============================================*/
.video {
  /* animation */
  & [data-aos="ring"] {
    --size: var(--sz-250);
    width: var(--size);
    height: var(--size);
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
    @media (min-width: 750px) {
      --size: 180px;
    }
    &:before,
    &::after {
      animation-timing-function: linear;
      --ring-color: rgb(245 10 10 / 44%);
    }

    &::after {
      animation-delay: 0s;
    }
  }
  /* cursor */
  & .cursor > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bs-red);
    font-size: var(--sz-120);
    &::after {
      content: "";
      background-color: var(--bs-white);
      display: block;
      width: 50%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}

[data-video-id] > img {
  cursor: pointer;
}

[data-video-id] > button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --size: var(--sz-136);
  width: var(--size);
  height: var(--size);
  background: url("https://img.icons8.com/color/96/000000/youtube-play.png") no-repeat center center;
  background-size: contain;
  pointer-events: none;
  padding: 0;
  border: none;
  font-size: 0;
  @media (min-width: 750px) {
    --size: var(--sz-96);
  }
}

[data-video-id] > iframe {
  width: 100%;
  height: 100%;
}

/* ==========================================
 Form
============================================*/
/* type1 */
.form--type1 {
  & .btn {
    margin-top: var(--sz-34);
  }

  & .form-label {
    font-size: var(--sz-22);
    font-weight: bold;
    margin-top: 0.85em;
    margin-bottom: 0.2em;
    padding-left: 0.3em;

    & > span {
      padding-right: 0.1em;
    }
  }

  & .form-control {
    font-size: var(--sz-34);
    font-weight: bold;
    padding: 0.3em 0.5em 0.4em;
    background-color: #f1f1f1;
    border-color: #b6b6b6;
    border-radius: unset;
  }

  & [class^="col-"]:nth-child(n + 3) .form-control {
    border-left: 0;
  }
}

/* ==========================================
 Follow
============================================*/
/* type1 */
.follow--type1 {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 100;
  max-width: 750px;
  width: 100%;
}

/* ==========================================
 Modal
============================================*/
/* type1 */
:where(.modal--type1) {
  & .modal-dialog {
    margin: 0 auto;
  }

  & .modal-content {
    border: none;
    border-radius: 0;
    background-color: transparent;
  }

  & .modal-header {
    border-bottom: none;
    padding: 0.5em 0;

    & .btn-close {
      --bs-btn-close-color: var(--bs-white);
      --bs-btn-close-bg: none;
      --bs-btn-close-opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;

      &:focus {
        box-shadow: none;
      }
    }
  }

  & .modal-body {
    padding: 0;
  }

  & .modal__today {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font-serif);
    font-size: var(--sz-64);
    font-weight: 500;
    color: var(--bs-white);
    line-height: 1;
    white-space: nowrap;
    & > span {
      color: var(--bs-white);
    }
  }

  @media (min-width: 576px) {
    & .modal__today {
      font-size: 43px;
    }
  }

  @media (min-width: 750px) {
    & .modal-dialog {
      max-width: 650px;
    }

    & .modal__today {
      font-size: 54px;
    }
  }
}

/* ==========================================
 Progress
============================================*/

/* type1 */
:where(.progress--type1) {
  position: absolute;
  top: var(--sz-30);
  left: 0;
  width: 100%;
  height: var(--sz-61);
  border-radius: 0;
  --bs-progress-bg: #fff;
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-block: 2px dashed #01a001;
    display: block;
  }

  & .progress-bar {
    background-color: #01a001;
    animation: progress1 1.5s forwards ease-out;
  }

  & .progress-text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--sz-27);
    white-space: nowrap;
    letter-spacing: 0.03em;
    & span {
      color: #01a001;
    }
  }
  @media (min-width: 750px) {
    height: 45px;

    & .progress-text {
      font-size: 26px;
    }
  }
}

@keyframes progress1 {
  from {
    width: 0;
  }

  to {
    width: 74%;
  }
}

/* ==========================================
 Page Top
============================================*/

.pagetop {
  position: fixed;
  right: 5%;
  bottom: 5%;
  font-size: 74%;
  margin: 0;
  z-index: 10;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.pagetop.show {
  opacity: 1;
}

.pagetop a {
  padding: 1em;
  background-color: var(--color-pagetop-bg);
  color: var(--color-pagetop-text);
  text-decoration: none;
  transition: all 0.5s ease;
  border-radius: 5px;
  display: block;
  line-height: 1;
}

:where(.show-follow) .pagetop {
  bottom: 10%;
}

@media (min-width: 750px) {
  .pagetop {
    font-size: 1.5em;
    right: 25px;
    bottom: 25px;
  }
}

/* ==========================================
 Footer
============================================*/

.footer {
  padding: 1.5em 1em;
  text-align: center;
  color: var(--color-footer-text);
  background-color: var(--color-footer-bg);
  font-size: clamp(12px, 3.2vw, 16px);
  font-weight: bold;
  margin: 0 auto;
}

.footer__menu {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.footer__menu a {
  color: inherit;
  text-decoration: none;
  padding: 0.5em 1.5em;
  transition: 0.3s;
  display: block;
  position: relative;
  width: fit-content;
}

.footer__menu a:not(:last-child)::after {
  content: "/";
  content: "|";
  position: absolute;
  right: 0;
  display: none;
}

.footer__menu a:hover {
  color: var(--color-footer-bg);
  background-color: var(--color-footer-text);
}

.footer__copy {
  margin-bottom: 0;
}
